@charset "utf-8";

body{
	font-size: 12px;
	fon-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
}

header {
	padding: 20px 0px;
	margin-bottm: 20px;
	height: 30px;
	
	background-color: #000000;
	color: #fff;
	
	box-shadow: 0px 3px 3px #ccc;
}

header > div {
	margin-left: 8px;
}



#conteudo{
	padding: 0px 8px;
	margin-top: 4px;
}

footer {
	padding: 0px 8px;
	margin-bottm: 20px;
	height: 30px;
	
	background-color: #000000;
	color: #fff;
	
	
	
	box-shadow: 0px 3px 3px #ccc;
}

h1 {
	font-size: 24px;
	font-weight: 500;
	padding: 6px;
	margin: 0px;
}

#login-dialog {
	width: 290px;
	margin: auto;
	margin-top: 150px;
}

.grid-login {
	background-color: #f2f2f2;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin-top: 8px;
	padding: 10px;
}
.forMulario{
	margin-top: 5%;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
	padding: 5px;
}

.dataTable{
	margin-top: 0%;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 1%;
	padding: 0px;
}
td{
	padding: 4px;
}
.botoesFiltro{
	margin-left: 85%;
	margin-right: 15%;
}
.botoesalvar{
	margin-left: 85%;
	margin-right: 15%;
}

.estidoLetra{
	font-size: medium;
    font-weight: 600;
}
